﻿@{
    ViewBag.Title = "Home Page";
    string annotate = ViewBag.Annotate == null ? "" : ViewBag.Annotate;

}


<div class="row">
    <div>
        @using (Html.BeginForm("UploadPicture", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h3>Select Settings for vision detection:</h3>
            <p>
                <input type="radio" name="API_Setting" value="Google"> Google<br />
                <input type="radio" name="API_Setting" value="Azure">Azure
            </p>


        <br />

        <input type="file" name="file" />
        <br />
        <br />
        <input type="submit" value="Text Detect" />
        }

        <div>
            @Html.TextArea("AnnotatedText", annotate, new { Style = "height:300px;width:300px;", TextMode = "MultiLine" })
        </div>

    </div>
</div>